$avatar-size: 280px;
$avatar-small-size: 140px;

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  align-items: flex-start;
  height: 100%;

  .sectionRow {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 12px;
    }
  }

  .aboutTitle {
    font-size: 24px !important;
    margin: 0;
  }

  .fullName,
  .altName {
    display: block;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 0 1px #fff,
      0 0 2px #fff,
      0 0 5px #fff,
      0 0 10px #0fa,
      0 0 20px #0fa,
      0 0 23px #0fa,
      0 0 27px #0fa,
      0 0 37px #0fa;

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  .descText {
    font-size: 20px;
    margin-top: 12px;
  }

  .typingAnimation {
    &::after {
      content: "_" !important;
    }

    &.fullName,
    &.altName {
      &::after {
        content: "." !important;
        animation: none !important;
      }
    }
  }

  .avatarCarousel {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    @media (max-width: 576px) {
      width: $avatar-small-size;
      height: $avatar-small-size;
      margin: auto;
    }
  }

  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    object-fit: contain;
    border-radius: 50%;

    @media (max-width: 576px) {
      width: $avatar-small-size;
      height: $avatar-small-size;
    }
  }
}

.contact {
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.4s ease-in-out;

  &.contact-fixed {
    position: fixed;
    flex-direction: column; 
    right: 24px;
    bottom: 30vh;
  }
}

.contact.contact-fixed::after {
  content: "";
  width: 2px;
  height: 30vh;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background-color: var(--jf-primary-text-color);
}